# add other ignore files extensions here
# especially ignore data files
# Note, this is also a nice way to keep empty folders

.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.txt
*.dat
*.bin
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*PKG*